# Section A: Data Structures & Control Structures

**1.Create a list of 5 integers. Perform and print the result of the following operations: append, extend, insert, remove, pop, clear, index, count, sort, and reverse.**

In [ ]:
nums = [] #an array for the list
try:
    print("Enter 5 numbers, separated by spaces:")  #user input and here 'item' is the variable
    user_input = input()
    nums = [int(item) for item in user_input.split()]
    print(f"Initial list: {nums}")
except ValueError:   #value error is like , if we give any other values or string or general error
    print("Invalid input.")
    exit() # exit if the initial list is invalid

# Append
try:
    x = int(input("Enter a number to append: "))
    nums.append(x)
    print(f"After append({x}): {nums}")
except ValueError:
    print("Invalid input.")

# Extend
try:
    e_str = input("Enter numbers to extend: ")
    nums.extend([int(item) for item in e_str.split()]) #here e_str.split() creats a list of strings , but again the int(item) converts them back into integer
    print(f"After extend: {nums}")
except ValueError:
    print("Invalid input.")

# Insert
try:
    pos = int(input("Enter position to insert: "))
    x = int(input("Enter a number to insert: "))
    nums.insert(pos, x)
    print(f"After insert({pos}, {x}): {nums}")
except (ValueError, IndexError):
    print("Invalid input.")

# Remove
try:
    x = int(input("Enter a number to remove: "))
    if x in nums:
        nums.remove(x)
        print(f"After remove({x}): {nums}")
    else:
        print(f"{x} is not in the list.")
except ValueError:
    print("Invalid input.")

# Pop an item by index
try:
    x = int(input(f"Enter an index to pop (0 to {len(nums)-1}): ")) #we know f is used for the considering the input in the braces also
    #here len(nums) gets the number of the items in the list, and the len(nums)-1 gets the last valid item
    popped_val = nums.pop(x)  #removes specific index and returns its value, that value is stored  in the variable we have given.
    print(f"After pop({x}): {nums}")
    print(f"Popped value: {popped_val}")
except (ValueError, IndexError):
    print("Invalid input.")

temp_nums = nums.copy() # because the previous list operations might have removed values, so we are creating a shallow copy of the list.

# index
try:
    x = int(input("Enter a number to find its index: "))
    print(f"Index of {x}: {temp_nums.index(x)}")
except ValueError:
    print(f"{x} is not in the list.")

# Count
try:
    x = int(input("Enter a number to count: "))
    print(f"Count of {x}: {temp_nums.count(x)}")
except ValueError:
    print("Invalid input.")

# Sort
temp_nums.sort()
print(f"After sort(): {temp_nums}")

# Reverse
temp_nums.reverse()
print(f"After reverse(): {temp_nums}")

# Clear the original list
nums.clear()
print(f"After clear(): {nums}")

Enter 5 numbers, separated by spaces:
1 2 3 4 5
Initial list: [1, 2, 3, 4, 5]
Enter a number to append: 1
After append(1): [1, 2, 3, 4, 5, 1]
Enter numbers to extend (space-separated): 2
After extend: [1, 2, 3, 4, 5, 1, 2]
Enter position to insert: 3
Enter a number to insert: 7
After insert(3, 7): [1, 2, 3, 7, 4, 5, 1, 2]
Enter a number to remove: 1
After remove(1): [2, 3, 7, 4, 5, 1, 2]
Enter an index to pop (0 to 6): 5
After pop(5): [2, 3, 7, 4, 5, 2]
Popped value: 1
Enter a number to find its index: 2
Index of 2: 0
Enter a number to count: 7
Count of 7: 1
After sort(): [2, 2, 3, 4, 5, 7]
After reverse(): [7, 5, 4, 3, 2, 2]
After clear(): []

**2.Create a tuple that stores 3 student names. Try changing the second name in the tuple. What happens? Explain why.**

In [ ]:
#here they are asking to create a tuple that stores 3 values and try changing the second name
student_1=input("name of the student 1: ")
student_2=input("name of the student 2: ")
student_3=input("name of the student 3: ")
students=(student_1,student_2,student_3)
print(students) #this is the creation of tuple
try:
  students[2]="srihitha"
except TypeError:
  print("we cant change tuples as they are immutable.")
#tuple is an ordered,immutable collection of items in python, that means, once we create a tuple , you cant change its contents.

name of the student 1: dhk
name of the student 2: gkd
name of the student 3: et
('dhk', 'gkd', 'et')
we cant change tuples as they are immutable.

**3.Create a set of integers with some duplicate values. Print the set and explain the output.**

In [ ]:
#here they are asking for a set with duplicate values.
a=input("enter the integers with spaces:")
list_i=[int(i) for i in a.split()]
set_i=set(list_i)
print(set_i)
print("we wont get duplicate values, as set doesnt allow duplicate values.")
#set:it stores an unordered collection of unique items. This means even if you try to add duplicate items, it will automatically discard them , by keeping only one of each

enter the integers with spaces:2 3 4 5  5 2
{2, 3, 4, 5}
we wont get duplicate values, as set doesnt allow duplicate values.

**4.Create a dictionary with the keys: 'name', 'age', and 'city'. Update the age and add a new key 'email'. Print the final dictionary.**

In [ ]:
#here , they are asking to create a dictionary and use update also
name=input("enter the name:")
age=int(input("enter the age:"))
city=input("enter the city:")
dict_1={"name":name,"age":age,"city":city}
print(dict_1)
#now we are going to update the age and add a new key 'email'
new_age=int(input("enter the new age:"))
dict_1["age"]=new_age
email=input("enter the email:")
dict_1["email"]=email
print(dict_1)
#dictionary is an unordered collection of data , used to stored information in key-value pairs

enter the name:srihitha
enter the age:22
enter the city:hyd
{'name': 'srihitha', 'age': 22, 'city': 'hyd'}
enter the new age:32
enter the email:skkjrk
{'name': 'srihitha', 'age': 32, 'city': 'hyd', 'email': 'skkjrk'}

**5. Write a script that checks if a person is eligible to vote (age ≥ 18). Take age as a variable and print the appropriate message.**

In [ ]:
#here they are asking to check if a person is eligible or not.
try:
  age=int(input("enter age:"))
  if age>=18:
    print("your eligible to vote")
  else:
    print("your not eligible to vote")
except ValueError:
  print("invaild")

enter age:1
your not eligible to vote

**6.Given a 'marks' variable, print the grade:**
**- 90 and above: 'A'**
**- 75–89: 'B'**
**- 50–74: 'C'**
**- Below 50: 'Fail'**

In [ ]:
#here they are asking to print the grade for the variable 'marks'
try:
  marks=int(input("enter the marks:"))
  if marks>=90:
    print("A")
  elif marks>=75:
    print("B")
  elif marks>=50:
    print("C")
  else:
    print("Fail")
except ValueError:
  print("invalid")

enter the marks:90
A

**7.Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.**

In [ ]:
#here they are asking to check a number for the following conditions
num=int(input("enter the number:"))
if num>0:
  if num%2==0:  #num%2==0 is for detecting if a number is even or odd
    print("positive and even")
  else:
    print("positive and odd")
elif num==0:
  print("zero")

enter the number:4
positive and even

# **Section B: Numpy**

NumPy is the core library for numerical operations in Python. Its main object is the 'ndarray', which is a powerful, N-dimensional array. Unlike Python lists, NumPy arrays are designed for efficient mathematical operations and are stored in a contiguous block of memory, which makes them much faster for large-scale calculations.

**8.Create:**
**- A scalar using np.array(5)**
**- A 1D array with values 1 to 5**
**- A 2D array (2x3) with values from 10 to 60 in steps of 10**

In [ ]:
import numpy as np  #we are importing numpy
scalar=np.array(5) #scalar is the simplest kind of numpy array because it holds just one single item
print("scalar:",scalar)
array_1d=np.array([1,2,3,4,5])  #it is 1d array , where it holds a single line ,like a row a of items
print("1d array:",array_1d)
array_2d=np.arange(10,70,10).reshape(2,3) #2d array
print("2d array:",array_2d)

scalar: 5
1d array: [1 2 3 4 5]
2d array: [[10 20 30]
 [40 50 60]]

**9.Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().**

In [ ]:
import numpy as np

low=int(input("low:"))  #here we are printing the lowest value
high=int(input("high:")) #here we are printing the highest value

a=np.random.randint(low,high +1,size=(4,4)) #this is the syntax, and i wrote 'high +1' cause it should also include 100(which is given in the question)
#and for size=(4,4) ,it shows as 4x4 matrix
print(a)

low:0
high:100
[[81 59 13 95]
 [88 63 25 40]
 [66 35 87 15]
 [69 35 71 41]]

**10.Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.**

In [ ]:
import numpy as np
import pandas as pd  #we are importing pandas for this

num=list(map(int,input("enter 9 integers with space:").split()))  #as we know map applies function to every element in the list
#so we apply 'int,' to convert every string into a integer, which later convert into a list()

array_2d=np.array(num).reshape(3,3) #as they asked for 3x3 matrix
print(array_2d)

df=pd.DataFrame(array_2d,columns=['A','B','C']) #dataframe is created using this
print(df)

enter 9 integers with space:1 2 3 4 5 6 7 8 9
[[1 2 3]
 [4 5 6]
 [7 8 9]]
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#  Section C: Exploring Pandas

Pandas is a python library used for data analysis and data manipulation.
It's helps you work with tables of data in a easy and powerful way.

In Pandas , we have 2 important data structures:
1.Series (for 1D labeled data)
2.DataFrame (for 2D labeled data)

Pandas handles different file types , easy data manipulation, and powerful with big data.

**11.Create a small DataFrame manually with 10 rows and columns: 'Name'**
**'Age', 'City', and 'Salary'. Then:**
**- Use .info(), .describe()**
**- Select 'Name' and 'City' columns**
**- Drop 'City' column**
**- Fill any missing values in 'Salary' column with the mean**
**- Remove any duplicate rows**

In [9]:
import numpy as np
import pandas as pd #we are importing pandas for this problem

#first we should create empty lists for the following columns
names=[]
ages=[]
cities=[]
salaries=[]

#now we should give the 10 inputs for these
print("enter the inputs:")

#as we should only give 10 inputs , we use:
for i in range(10):
  print(f"\nPerson {i+1}")  #i+1 because 10th input should be also included
  name=input("Name:")
  age=int(input("Age:"))
  city=input("City:")
  salary_input=input("Salary:")  #take salary as string first

  #As there should be missing salaries (as per the question), we should handle the missing salaries too
  if salary_input.strip()=="" or salary_input.lower()=="na":
      salary=np.nan #nan stands for Not a Number (used to represent missing values in NumPy/pandas. So if the input is empty or NA ,we store NaN.
  else:
    try:
      salary=float(salary_input)  # Convert to number only if valid
    except ValueError:
      print("invalid salary entered.")  # if user enters text instead of number
      salary=np.nan

  #now we should append these
  names.append(name)
  ages.append(age)
  cities.append(city)
  salaries.append(salary)

#now we should create a dataframe
df=pd.DataFrame({"Name":names,"Age":ages,"City":cities,"Salary":salaries})
print(df)

#now use.info() , this is used to get information
print("\n\n dataframe info")
print("\n",df.info())

#.describe() is used for description
print("\n\n dataframe description")
print("\n",df.describe())

#select means displaying the columns
print("\n\n name and city columns:")
print("\n",df[["Name", "City"]])

#drop city column , means delete a certain column
df_dropped=df.drop("City",axis=1)       #here we wrote axis=1, as axis tells pandas whether to drop columns or rows, axis=0 - drop by row; axis=1 - drop by column
print("\n\n after dropping city column:")
print("\n",df_dropped)

#fill any missing values in 'Salary' column with the mean
mean_salary=df["Salary"].mean()
df["Salary"].fillna(mean_salary, inplace=True)
print("\n\n after filling the missing values:")
print("\n",df)

#removing any duplicate rows
df_no_duplicates=df.drop_duplicates()
print("\n\n after removing duplicates:")
print("\n",df_no_duplicates)

enter the inputs:

Person 1
Name:sdj
Age:23
City:vsvs
Salary:665

Person 2
Name:gdht
Age:23
City:bd
Salary:

Person 3
Name:dfgh
Age:54
City:dee
Salary:87

Person 4
Name:mh
Age:56
City:jug
Salary:56

Person 5
Name:mee
Age:12
City:sd
Salary:

Person 6
Name:gr
Age:34
City:fs
Salary:

Person 7
Name:dgt
Age:33
City:vr
Salary:33

Person 8
Name:vrs
Age:34
City:cds
Salary:43

Person 9
Name:db
Age:12
City:bdg
Salary:56

Person 10
Name:btd
Age:45
City:fb
Salary:
   Name  Age  City  Salary
0   sdj   23  vsvs   665.0
1  gdht   23    bd     NaN
2  dfgh   54   dee    87.0
3    mh   56   jug    56.0
4   mee   12    sd     NaN
5    gr   34    fs     NaN
6   dgt   33    vr    33.0
7   vrs   34   cds    43.0
8    db   12   bdg    56.0
9   btd   45    fb     NaN


 dataframe info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   City    10 non-null     object
 3   Salary  6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes

 None


 dataframe description

              Age      Salary
count  10.000000    6.000000
mean   32.600000  156.666667
std    15.621922  249.694747
min    12.000000   33.000000
25%    23.000000   46.250000
50%    33.500000   56.000000
75%    42.250000   79.250000
max    56.000000  665.000000


 name and city columns:

    Name  City
0   sdj  vsvs
1  gdht    bd
2  dfgh   dee
3    mh   jug
4   mee    sd
5    gr    fs
6   dgt    vr
7   vrs   cds
8    db   bdg
9   btd    fb


 after dropping city column:

    Name  Age  Salary
0   sdj   23   665.0
1  gdht   23     NaN
2  dfgh   54    87.0
3    mh   56    56.0
4   mee   12     NaN
5    gr   34     NaN
6   dgt   33    33.0
7   vrs   34    43.0
8    db   12    56.0
9   btd   45     NaN


 after filling the missing values:

    Name  Age  City      Salary
0   sdj   23  vsvs  665.000000
1  gdht   23    bd  156.666667
2  dfgh   54   dee   87.000000
3    mh   56   jug   56.000000
4   mee   12    sd  156.666667
5    gr   34    fs  156.666667
6   dgt   33    vr   33.000000
7   vrs   34   cds   43.000000
8    db   12   bdg   56.000000
9   btd   45    fb  156.666667


 after removing duplicates:

    Name  Age  City      Salary
0   sdj   23  vsvs  665.000000
1  gdht   23    bd  156.666667
2  dfgh   54   dee   87.000000
3    mh   56   jug   56.000000
4   mee   12    sd  156.666667
5    gr   34    fs  156.666667
6   dgt   33    vr   33.000000
7   vrs   34   cds   43.000000
8    db   12   bdg   56.000000
9   btd   45    fb  156.666667

/tmp/ipython-input-1261706923.py:60: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(mean_salary, inplace=True)